[Unit]
Description=MicroShift Test Agent
Before=microshift.service sshd.service

[Service]
ExecStart=/usr/bin/microshift-test-agent.sh

[Install]
WantedBy=multi-user.target
