spec:
  replicas: 1
  selector:
    matchLabels:
      name: sriov-network-operator
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        openshift.io/required-scc: restricted-v2
        target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
      labels:
        name: sriov-network-operator
    spec:
      containers:
        - command:
            - sriov-network-operator
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.annotations['olm.targetNamespaces']
            - name: SRIOV_CNI_IMAGE
              value: registry.redhat.io/openshift4/sriov-cni-rhel9@sha256:76ed6db7ad7d01e1ec70888f3c3ca787bab460ef1139d4930f66e8aab4fe2dd7
            - name: SRIOV_DEVICE_PLUGIN_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-network-device-plugin-rhel9@sha256:ea6942948b23a96054a8c27c4a8b6cffca49b6acc6ca556ce3e0708eb787789d
            - name: NETWORK_RESOURCES_INJECTOR_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-dp-admission-controller-rhel9@sha256:f07f432f89667200549eac89c6ef53c734420eb76a29c4008dd85a0a3526ad03
            - name: OPERATOR_NAME
              value: sriov-network-operator
            - name: SRIOV_NETWORK_CONFIG_DAEMON_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-network-config-daemon-rhel9@sha256:41d6d4232d6ed37f370795908f7ea0b56379ca6538afbb35ef7cfda4f000fafd
            - name: SRIOV_NETWORK_WEBHOOK_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-network-webhook-rhel9@sha256:cd12a9afe94fcb823cfff1a274b633c9d687b11537ad37c1752244981e9bda43
            - name: SRIOV_INFINIBAND_CNI_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-infiniband-cni-rhel9@sha256:ad2994a2ef988378926196175d26ffc3bc9ed0be6a8d4d9eb79bae0422641af4
            - name: RDMA_CNI_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-rdma-cni-rhel9@sha256:993925e3e3ca5e3d603ad9b868490e5ede61190ecb20dea873bd597627c65c95
            - name: RESOURCE_PREFIX
              value: openshift.io
            - name: ADMISSION_CONTROLLERS_ENABLED
              value: 'false'
            - name: ADMISSION_CONTROLLERS_CERTIFICATES_OPERATOR_SECRET_NAME
              value: operator-webhook-service
            - name: ADMISSION_CONTROLLERS_CERTIFICATES_INJECTOR_SECRET_NAME
              value: network-resources-injector-secret
            - name: METRICS_EXPORTER_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-network-metrics-exporter-rhel9@sha256:04358d43922f4d29af64f99baa2a73b0b32cf2895140232b61e538599ec08e46
            - name: METRICS_EXPORTER_KUBE_RBAC_PROXY_IMAGE
              value: registry.redhat.io/openshift4/ose-kube-rbac-proxy-rhel9@sha256:5d7478a62742900e39d7b007dde5375cd06c6076ced6dab69d805f5fcce3f342
            - name: METRICS_EXPORTER_SECRET_NAME
              value: metrics-exporter-cert
            - name: METRICS_EXPORTER_PROMETHEUS_OPERATOR_ENABLED
              value: 'false'
            - name: METRICS_EXPORTER_PROMETHEUS_DEPLOY_RULES
              value: 'true'
            - name: METRICS_EXPORTER_PROMETHEUS_OPERATOR_NAMESPACE
              value: openshift-monitoring
            - name: METRICS_EXPORTER_PROMETHEUS_OPERATOR_SERVICE_ACCOUNT
              value: prometheus-k8s
            - name: METRICS_EXPORTER_PORT
              value: '9110'
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: RELEASE_VERSION
              value: 4.20.0
            - name: CLUSTER_TYPE
              value: kubernetes
          image: registry.redhat.io/openshift4/ose-sriov-network-rhel9-operator@sha256:edf864070393e01c4423ead4f86a066cb2e083de870ad84e1367c6c0fee5c84d
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          name: sriov-network-operator
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources: {}
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
      nodeSelector:
        node-role.kubernetes.io/master: ''
      serviceAccountName: sriov-network-operator
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/master
          operator: Exists
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sriov-network-operator
  namespace: sriov-network-operator
