spec:
  replicas: 1
  selector:
    matchLabels:
      name: sriov-network-operator
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        openshift.io/required-scc: restricted-v2
        target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
      labels:
        name: sriov-network-operator
    spec:
      containers:
        - command:
            - sriov-network-operator
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.annotations['olm.targetNamespaces']
            - name: SRIOV_CNI_IMAGE
              value: registry.redhat.io/openshift4/sriov-cni-rhel9@sha256:e8a87f44c46861fa1f176260e877673671587ced7a3e28484320df39c2183e0c
            - name: SRIOV_DEVICE_PLUGIN_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-network-device-plugin-rhel9@sha256:44832e11f2d00c24c4e7ff02f4a9bd50fb6fdc6d7d3a8923cf4ab31b06653d17
            - name: NETWORK_RESOURCES_INJECTOR_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-dp-admission-controller-rhel9@sha256:f925c7d1d2e2a5769180725a0e48981ad7befa2dc4c9bf1605ec6dc3de0eff50
            - name: OPERATOR_NAME
              value: sriov-network-operator
            - name: SRIOV_NETWORK_CONFIG_DAEMON_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-network-config-daemon-rhel9@sha256:9aaa03bca2a405c4af4a2dafe70a5c430e2dcee369b5753c4a992796eb8256b5
            - name: SRIOV_NETWORK_WEBHOOK_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-network-webhook-rhel9@sha256:b4cee36c97ee7676d11caf344bf04f87a67d6be922c194528dde233d46143148
            - name: SRIOV_INFINIBAND_CNI_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-infiniband-cni-rhel9@sha256:b7e352890545e6fe1e09d31401db33d81785ade6e37218d8946b915dcad38f15
            - name: RDMA_CNI_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-rdma-cni-rhel9@sha256:a81d1a1428e61dd02c67f38cc8c0b04db76da2898db777ee381370518b7891ed
            - name: RESOURCE_PREFIX
              value: openshift.io
            - name: ADMISSION_CONTROLLERS_ENABLED
              value: 'false'
            - name: ADMISSION_CONTROLLERS_CERTIFICATES_OPERATOR_SECRET_NAME
              value: operator-webhook-service
            - name: ADMISSION_CONTROLLERS_CERTIFICATES_INJECTOR_SECRET_NAME
              value: network-resources-injector-secret
            - name: METRICS_EXPORTER_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-network-metrics-exporter-rhel9@sha256:ad42f5472c1da50595e36ab93a1b6d79cb227670493c989a0b162d431dc7c871
            - name: METRICS_EXPORTER_KUBE_RBAC_PROXY_IMAGE
              value: registry.redhat.io/openshift4/ose-kube-rbac-proxy-rhel9@sha256:883be225980cafa658d73b7d87ac99a39dce0fa8fb7754158ec28dc218bc903d
            - name: METRICS_EXPORTER_SECRET_NAME
              value: metrics-exporter-cert
            - name: METRICS_EXPORTER_PROMETHEUS_OPERATOR_ENABLED
              value: 'false'
            - name: METRICS_EXPORTER_PROMETHEUS_DEPLOY_RULES
              value: 'true'
            - name: METRICS_EXPORTER_PROMETHEUS_OPERATOR_NAMESPACE
              value: openshift-monitoring
            - name: METRICS_EXPORTER_PROMETHEUS_OPERATOR_SERVICE_ACCOUNT
              value: prometheus-k8s
            - name: METRICS_EXPORTER_PORT
              value: '9110'
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: RELEASE_VERSION
              value: 4.20.0
            - name: SRIOV_CNI_BIN_PATH
              value: /run/cni/bin
            - name: CLUSTER_TYPE
              value: kubernetes
          image: registry.redhat.io/openshift4/ose-sriov-network-rhel9-operator@sha256:4387526b67fc5e0f09bd5d2de4b377bacd27c311f3e7b4d591827d59317935a0
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          name: sriov-network-operator
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources: {}
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
      nodeSelector:
        node-role.kubernetes.io/master: ''
      serviceAccountName: sriov-network-operator
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/master
          operator: Exists
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sriov-network-operator
  namespace: sriov-network-operator
