apiVersion: v1
kind: Deployment
namespace: sriov-network-operator
label:
  control-plane: controller-manager
name: sriov-network-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: sriov-network-operator
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        openshift.io/required-scc: restricted-v2
        target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
      labels:
        name: sriov-network-operator
    spec:
      containers:
        - command:
            - sriov-network-operator
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.annotations['olm.targetNamespaces']
            - name: SRIOV_CNI_IMAGE
              value: registry.redhat.io/openshift4/sriov-cni-rhel9@sha256:968cc0d4d70c986602f970df4788f5b3add655c860911eebc976652d94c41bed
            - name: SRIOV_DEVICE_PLUGIN_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-network-device-plugin-rhel9@sha256:266c876c3406c3518596b828d639884501fd935fbd17e67b9044bd7068873af5
            - name: NETWORK_RESOURCES_INJECTOR_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-dp-admission-controller-rhel9@sha256:e4fa2ae769c32b9ac0d5573c4c745bcbcd17c68a1b9577a019f2c0f10aa53ee0
            - name: OPERATOR_NAME
              value: sriov-network-operator
            - name: SRIOV_NETWORK_CONFIG_DAEMON_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-network-config-daemon-rhel9@sha256:bea893411830b6e27bbd3979d08af7597b6e5dc5d70d19efab76df94adcd6fb8
            - name: SRIOV_NETWORK_WEBHOOK_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-network-webhook-rhel9@sha256:382707bd2bc26f0a2253d3524e06508fdb8ad786f241b3c23a224c845e52111e
            - name: SRIOV_INFINIBAND_CNI_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-infiniband-cni-rhel9@sha256:b233b5b8c3e5a00682522549103b26a601efcf7c526b86176048e39be827123b
            - name: RDMA_CNI_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-rdma-cni-rhel9@sha256:cbd7c6cc3d95279f5676cb2d62bbb8596e9813e64900d9c01f51d7f7d0d5b6d0
            - name: RESOURCE_PREFIX
              value: openshift.io
            - name: ADMISSION_CONTROLLERS_ENABLED
              value: 'true'
            - name: ADMISSION_CONTROLLERS_CERTIFICATES_OPERATOR_SECRET_NAME
              value: operator-webhook-service
            - name: ADMISSION_CONTROLLERS_CERTIFICATES_INJECTOR_SECRET_NAME
              value: network-resources-injector-secret
            - name: METRICS_EXPORTER_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-network-metrics-exporter-rhel9@sha256:fe9f5e8ad00dafd251f4cf0923ceb6811f53766e4fc61327d20ba6a1f3d3505b
            - name: METRICS_EXPORTER_KUBE_RBAC_PROXY_IMAGE
              value: registry.redhat.io/openshift4/ose-kube-rbac-proxy-rhel9@sha256:eac5ade5fc49b724ef33c05c81bf960f7bec3f52faa2e44db249d05bcc45c280
            - name: METRICS_EXPORTER_SECRET_NAME
              value: metrics-exporter-cert
            - name: METRICS_EXPORTER_PROMETHEUS_OPERATOR_ENABLED
              value: 'true'
            - name: METRICS_EXPORTER_PROMETHEUS_DEPLOY_RULES
              value: 'true'
            - name: METRICS_EXPORTER_PROMETHEUS_OPERATOR_NAMESPACE
              value: openshift-monitoring
            - name: METRICS_EXPORTER_PROMETHEUS_OPERATOR_SERVICE_ACCOUNT
              value: prometheus-k8s
            - name: METRICS_EXPORTER_PORT
              value: '9110'
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: RELEASE_VERSION
              value: 4.20.0
          image: registry.redhat.io/openshift4/ose-sriov-network-rhel9-operator@sha256:32c64998a00465b135fea56a7cb1f77a99ce57406a2e8baa538db68728b204c0
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          name: sriov-network-operator
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources: {}
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
      nodeSelector:
        node-role.kubernetes.io/master: ''
      serviceAccountName: sriov-network-operator
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/master
          operator: Exists
