spec:
  replicas: 1
  selector:
    matchLabels:
      name: sriov-network-operator
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        openshift.io/required-scc: restricted-v2
        target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
      labels:
        name: sriov-network-operator
    spec:
      containers:
        - command:
            - sriov-network-operator
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.annotations['olm.targetNamespaces']
            - name: SRIOV_CNI_IMAGE
              value: registry.redhat.io/openshift4/sriov-cni-rhel9@sha256:6a3b0070b671a818f094f78073279669c9646ebdc668f7099e44d007380b6060
            - name: SRIOV_DEVICE_PLUGIN_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-network-device-plugin-rhel9@sha256:6508614560de3d333fe93d7c72e6b6a1fffb4b5fd75632bf74fc686eb9deaf80
            - name: NETWORK_RESOURCES_INJECTOR_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-dp-admission-controller-rhel9@sha256:f14abff38a42cb72299e58b957c6f0f09af5182208800a4a6ed55e57e4ab5f28
            - name: OPERATOR_NAME
              value: sriov-network-operator
            - name: SRIOV_NETWORK_CONFIG_DAEMON_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-network-config-daemon-rhel9@sha256:e912e692c32a70f22c34360ca8e8960bdf40bc141f54c5782da3380b972b62ff
            - name: SRIOV_NETWORK_WEBHOOK_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-network-webhook-rhel9@sha256:6b23062ab592c3776ff7207ce7caed878474566033e45e377a893c4bac01de82
            - name: SRIOV_INFINIBAND_CNI_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-infiniband-cni-rhel9@sha256:b423a3dca275e650fd498e6ca928c9d3c6bd1744c03986d30fb8775f04609b39
            - name: RDMA_CNI_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-rdma-cni-rhel9@sha256:276e01d4ce0e9407f5f67e015af36ec552f61303fbb7b2d45de5beacdc417937
            - name: RESOURCE_PREFIX
              value: openshift.io
            - name: ADMISSION_CONTROLLERS_ENABLED
              value: 'false'
            - name: ADMISSION_CONTROLLERS_CERTIFICATES_OPERATOR_SECRET_NAME
              value: operator-webhook-service
            - name: ADMISSION_CONTROLLERS_CERTIFICATES_INJECTOR_SECRET_NAME
              value: network-resources-injector-secret
            - name: METRICS_EXPORTER_IMAGE
              value: registry.redhat.io/openshift4/ose-sriov-network-metrics-exporter-rhel9@sha256:41b94f5b270e5d57b2130de47b0fa25796bfcf64c4dc771058ca0cd433404c05
            - name: METRICS_EXPORTER_KUBE_RBAC_PROXY_IMAGE
              value: registry.redhat.io/openshift4/ose-kube-rbac-proxy-rhel9@sha256:ca1344cb64140188b7cae7bbc51fb751566c0b0c97d5e39b5850e628032c4a5e
            - name: METRICS_EXPORTER_SECRET_NAME
              value: metrics-exporter-cert
            - name: METRICS_EXPORTER_PROMETHEUS_OPERATOR_ENABLED
              value: 'false'
            - name: METRICS_EXPORTER_PROMETHEUS_DEPLOY_RULES
              value: 'true'
            - name: METRICS_EXPORTER_PROMETHEUS_OPERATOR_NAMESPACE
              value: openshift-monitoring
            - name: METRICS_EXPORTER_PROMETHEUS_OPERATOR_SERVICE_ACCOUNT
              value: prometheus-k8s
            - name: METRICS_EXPORTER_PORT
              value: '9110'
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: RELEASE_VERSION
              value: 4.20.0
            - name: SRIOV_CNI_BIN_PATH
              value: /run/cni/bin
            - name: CLUSTER_TYPE
              value: kubernetes
          image: registry.redhat.io/openshift4/ose-sriov-network-rhel9-operator@sha256:c4b91f426ee2ca995472dc03e04276cab57e1edf01e7af7a57b360c1b0ec5bd0
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          name: sriov-network-operator
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources: {}
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
      nodeSelector:
        node-role.kubernetes.io/master: ''
      serviceAccountName: sriov-network-operator
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/master
          operator: Exists
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sriov-network-operator
  namespace: sriov-network-operator
