.idea/
.vagrant/
.vscode/
/microshift
/paack-result/
Vagrantfile
_output/*
bin
packaging/rpm/_rpmbuild/
packaging/selinux/*.pp*
packaging/selinux/microshift_selinux.8
packaging/selinux/tmp/
scripts/image-builder/_builds/
sshfile
