
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:1653adff318d02656def34996320e51e6dc6503e6206eeacce9139dfd748e94e
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:7558cab8c2869491197c0aadb78b9b2ea9dba53b1afb518edae3769ef62b28b3
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:f8ded6859b8b89714ca2bce5ca94dc5257e6c064547013cd26b53d743f18d492

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:7558cab8c2869491197c0aadb78b9b2ea9dba53b1afb518edae3769ef62b28b3
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:1653adff318d02656def34996320e51e6dc6503e6206eeacce9139dfd748e94e
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
