
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:cc949a25e96035f704c84217c0f288ed6bec4a1c81a0864bbe8fc2f7593dd641
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:f49112bdcd100fd08f7688c6707930b92611eac1d0305d969b000811053bc329
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:d7f48f06fe963ed03d8ec46e3dbbe37b3003795313ab83c67b3bbba38bfd5ec5

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:f49112bdcd100fd08f7688c6707930b92611eac1d0305d969b000811053bc329
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:cc949a25e96035f704c84217c0f288ed6bec4a1c81a0864bbe8fc2f7593dd641
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
