
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:d4c674e6739758b5efece1a94bd56a732a798a3b9a133e53fa6e5e6ed3f6282e
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:7c240339e000e11edb88be0221908de3773ad2e51754c3ec205e923ab6543aa8
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:5d188a262359c7ccaf266db53611d9d5f3ac902c27d7b1c6919816ea2f74d7a4

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:7c240339e000e11edb88be0221908de3773ad2e51754c3ec205e923ab6543aa8
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:d4c674e6739758b5efece1a94bd56a732a798a3b9a133e53fa6e5e6ed3f6282e
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
