
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:be02926a025210b5e2ee171da41762ce03ba0f11cfaf64fccc9f8f5b62b579cc
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:328b6809f5d5994c726b77ceec0883d32e614d6a77a45591558dd48701cb46ab
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:2944444683d9ad2c965b1495f060b235c937f139d36a51b44c95810d75f96d2b

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:328b6809f5d5994c726b77ceec0883d32e614d6a77a45591558dd48701cb46ab
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:be02926a025210b5e2ee171da41762ce03ba0f11cfaf64fccc9f8f5b62b579cc
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
