
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:b0e21a4ad054307effae29e5974856eaea662c96cbde8a5d5a6e19b70e510537
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:05d9c2f4c91de10e6d763023898653a94d8c4f92187a6e08b70c71459b7253a5
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:826a030bfe51515cc56120a0d926a456755b24f6ff46f280aab7762ad4307c8a

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:05d9c2f4c91de10e6d763023898653a94d8c4f92187a6e08b70c71459b7253a5
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:b0e21a4ad054307effae29e5974856eaea662c96cbde8a5d5a6e19b70e510537
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
