
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:feda8b60ffb6fc673d72b95370a5f03c906909edaee71434237544c9e0b695a4
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:06be242ac05165a6c8f75f13467252643a772f945a6a3abdec35f0f21037c07c
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:feacb7c854a16ac0ceda6a93f08d7526797e69c0453e4fe7493daf4510728c43

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:06be242ac05165a6c8f75f13467252643a772f945a6a3abdec35f0f21037c07c
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:feda8b60ffb6fc673d72b95370a5f03c906909edaee71434237544c9e0b695a4
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
