
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:84c6a19f2a033b39d33aa25769f0725218ef17a22ae64b38cbf784d955c6cc9b
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:69ffeb46e8a4cdf63a26938fa075f33ea0b617b1d8e327fde7f4f31ad54ea9ae
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:522b28709bc2d1b1408e62258ad97c375fbf6b1f8987171377c1fcc7268dd521

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:69ffeb46e8a4cdf63a26938fa075f33ea0b617b1d8e327fde7f4f31ad54ea9ae
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:84c6a19f2a033b39d33aa25769f0725218ef17a22ae64b38cbf784d955c6cc9b
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
