
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:fd3872651b964f010ba312afda3ec76bce5e0ec55963665b22bba2578635e1b9
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:a48e56b57bc3fd34d15b6ce984dab888eb090ccdacd0722c4514a573a034c0e1
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:98b0ee05778623730ccced3ee46c404feb96885043facf6d8585d2bdcbeb7897

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:a48e56b57bc3fd34d15b6ce984dab888eb090ccdacd0722c4514a573a034c0e1
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:fd3872651b964f010ba312afda3ec76bce5e0ec55963665b22bba2578635e1b9
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
