
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:491793e0e77a5197bcdb60d36f4a76e99bc65d2dc59cdf175deddb9f5393afda
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:591fa7214d345f111cd43bd4e6e8ec2d29551c926dd39070d909b792d7326898
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:af5b3de12122f266ee26b6f2281e6527b4a6b43f76a4e1b0570e9a68c3b1df9a

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:591fa7214d345f111cd43bd4e6e8ec2d29551c926dd39070d909b792d7326898
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:491793e0e77a5197bcdb60d36f4a76e99bc65d2dc59cdf175deddb9f5393afda
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
