
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:117a1bea1bfc44ec5fe833a2c20c25c1def7bcad5bc5bc5bd5f877d313e1ccf6
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:5be65eb73a404bf1ac8a861d84c3c3628ac4847338bd54ec83dbcc74c3401f8c
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:52a3ce5ce4d6795776bb620869c17ccee1c8e99250df12c95f6c92cef5a2558f

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:5be65eb73a404bf1ac8a861d84c3c3628ac4847338bd54ec83dbcc74c3401f8c
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:117a1bea1bfc44ec5fe833a2c20c25c1def7bcad5bc5bc5bd5f877d313e1ccf6
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
