
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:f8df1ab5f76c45c6463c4df09ff6ae604fea1d7cb0860d6be2a25f5cda5afa63
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:a7cf3ed4465276d1494baf9e8ca259878614be5462b998d94fbbf0e64b31197c
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:391199e5b669be59c7716ffced27f72f15544b9cb56fea74a1bb016479a258cd

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:a7cf3ed4465276d1494baf9e8ca259878614be5462b998d94fbbf0e64b31197c
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:f8df1ab5f76c45c6463c4df09ff6ae604fea1d7cb0860d6be2a25f5cda5afa63
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
