
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:6387d501dd0d568af479b87d1eab782fbf243c15fdb024915798922a67b933d0
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:d1866221522a4a7f36f7ab720af137ada419770efddeb738202061cb2b23e95a
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:efb10619e91a4e046325cb8518d5ecfece7164fcd9fdcf9651a624652b4987c6

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:d1866221522a4a7f36f7ab720af137ada419770efddeb738202061cb2b23e95a
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:6387d501dd0d568af479b87d1eab782fbf243c15fdb024915798922a67b933d0
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
