
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:d25cf798d1b6c17b4137c8eafaa432235307a850ae5208afb6ea5e77d68c94ff
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:7b78702b0296c10cddabd887d9b3d1c7d73af828a423ef4e565bdff15f00c121
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:96e61966a60f0a48d7d721973b2a551a8fbac6b80ead9cbf49e3011a3440980a

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:7b78702b0296c10cddabd887d9b3d1c7d73af828a423ef4e565bdff15f00c121
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:d25cf798d1b6c17b4137c8eafaa432235307a850ae5208afb6ea5e77d68c94ff
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
