
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:f39e8613219315472446f4f36ca8e581b7fec7059e43fc43c584c303b451db75
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:2211d2ae736f260105b8d45a7166c1537ff1f7cfec666f2800d18b863d6dec00
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:2d7eb51681bb6fdd804206b0050f2b7f0f74997fa531da723cf48d6a50fc0f39

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:2211d2ae736f260105b8d45a7166c1537ff1f7cfec666f2800d18b863d6dec00
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:f39e8613219315472446f4f36ca8e581b7fec7059e43fc43c584c303b451db75
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
