
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:939e835c7fc4cc02ebf57245089daf6b545fe4b59bd920ae64b5dddc91d308d4
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:b9e135369433176ee68d48a82551be6ce71136b6099a152db9c271a707f7cc85
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:a93a2fec2e78b0f7a1482295d6b6853997b5649594650d7cfb83a82a2e041187

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:b9e135369433176ee68d48a82551be6ce71136b6099a152db9c271a707f7cc85
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:939e835c7fc4cc02ebf57245089daf6b545fe4b59bd920ae64b5dddc91d308d4
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
