
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:a4722298fdd8f4f2e984e5ba78059e2097f525b9534abe114d13579186a47356
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:b66b0462e6243db6a8859725a02d68ddfc95a54d31982e3c569357f19b86635c
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:27f35ec252c3cd636577667ca7deb632655ecb2608ce26266c7d613eb59b8b06

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:b66b0462e6243db6a8859725a02d68ddfc95a54d31982e3c569357f19b86635c
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:a4722298fdd8f4f2e984e5ba78059e2097f525b9534abe114d13579186a47356
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
