
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:ab1d45ce3041b6b329b1fd14810416f8b431b074a4b711036afead7a5126449b
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:d62f99abef8660e103f88741658d01360aea6ca6f273990399afa788fbf52d98
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:04fa2c1e1459f79e58d3d8d10c6765123ea667c2923752f0a5644641b8f8fa8c

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:d62f99abef8660e103f88741658d01360aea6ca6f273990399afa788fbf52d98
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:ab1d45ce3041b6b329b1fd14810416f8b431b074a4b711036afead7a5126449b
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
