
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:c0b0209066acc1875e067222e6f5fcadff7b59a5b4187f6bbf89648ede3501af
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:6ef4ca1548b12796bf484c1ec18d79a07d0fb1732b24b8f5be0a0935828caf30
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:d4ba33fcc9731eccfbdedcf77a4a53ccff1883d93ce3a3ab6c0014eb26a30e09

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:6ef4ca1548b12796bf484c1ec18d79a07d0fb1732b24b8f5be0a0935828caf30
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:c0b0209066acc1875e067222e6f5fcadff7b59a5b4187f6bbf89648ede3501af
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
