
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:9e3a7f854a1e29ed2dc2343df94b09ff337a808c8505bb58bbb8390e8273d626
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:360e7229bbc217169a56884df48f716584e2beccab6ed0a565193f52250f2464
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:0a01826f7609f0fd137d774b633f87faf8b09b9c2492a500d95874b092a68188

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:360e7229bbc217169a56884df48f716584e2beccab6ed0a565193f52250f2464
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:9e3a7f854a1e29ed2dc2343df94b09ff337a808c8505bb58bbb8390e8273d626
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
