
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:0feab9fd10c555b6b449489e0e39bb153af81a195bf5fcdc47d5235529751718
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:9b614e7508117260319d940bbf367684e32c8ba8439dcd6dbc7a9fb913fd6c34
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:cf7d55dc148f2363ec40fdcfa4ffa4e19243541d4049c84ed07a55e304d7bbc6

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:9b614e7508117260319d940bbf367684e32c8ba8439dcd6dbc7a9fb913fd6c34
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:0feab9fd10c555b6b449489e0e39bb153af81a195bf5fcdc47d5235529751718
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
