
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:015b2ca092503173cb608914d1159dc277013bda27dfe7aa5adb9e3ff03713bc
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:eac6fa8fc7eb236e1a00952d70a0873f743766a897579fa69593d3116e221316
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:8670caccf8fd94dc6d568dafd47a5cb5312a74ab5cd9d40daee38fdbce23e400

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:eac6fa8fc7eb236e1a00952d70a0873f743766a897579fa69593d3116e221316
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:015b2ca092503173cb608914d1159dc277013bda27dfe7aa5adb9e3ff03713bc
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
