
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:1616718491489335e1df11651c11a19c17f132213cd02107cffc4913454a5046
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:528996ba26a0a7e0339cbdf2ca9b3709d34f7b5f822008b9b24aac9fd817f558
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:d9c131e71e1704e44fff0826f5933fb1d9bae29ec8b5f44ca7fe471b809f2543

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:528996ba26a0a7e0339cbdf2ca9b3709d34f7b5f822008b9b24aac9fd817f558
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:1616718491489335e1df11651c11a19c17f132213cd02107cffc4913454a5046
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
