
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:01a8cb2bb2797964cee9eec85c5de56cd03735b9900f4591ac03491de1cf0797
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:7aeead00bc982871ac5948931d82362474da2b211e8747dd9b6ee19315b3c047
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:50271114fc857957fdbf649c497e87c3d11090793de24932329e6129c20d3a59

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:7aeead00bc982871ac5948931d82362474da2b211e8747dd9b6ee19315b3c047
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:01a8cb2bb2797964cee9eec85c5de56cd03735b9900f4591ac03491de1cf0797
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
