
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:8115debf324b5add12b5badefed622ed1bd3b55f4e060e1ced8e11e091940e54
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:303da2a66781987eb706f0c52378e417d0fff1544f24eb77988aa7e808fab8a8
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:af180c4e19242c4ce30b8ee02b017cfbdb5bfc7331ed17e0fd02ac5d9cd5e725

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:303da2a66781987eb706f0c52378e417d0fff1544f24eb77988aa7e808fab8a8
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:8115debf324b5add12b5badefed622ed1bd3b55f4e060e1ced8e11e091940e54
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
