
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:3694a2caa57aabc0883a7b4ca9c5e52afd7a9ea3c81da93c0b1e490d7ac8c5fa
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:7beb9161d706250f64c16edf6c95386c3e1f4dff91df260a40de716ddac15110
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:e8b8078837f9c448d6f99389cb7e79d3470fc1d7557fbb92856ea523f37d7014

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:7beb9161d706250f64c16edf6c95386c3e1f4dff91df260a40de716ddac15110
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:3694a2caa57aabc0883a7b4ca9c5e52afd7a9ea3c81da93c0b1e490d7ac8c5fa
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
