
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:402863b1fbb1c29e786cecd686b5ae1ff96dd134b6506c525585bd7f43836aa5
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:ffec944d864f564dc7fabb52fb9a5fdfd6885fcbf3bc2121a784c84458aba97d
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:f13164acac5000249ed5c9fd11ae954e7be937056a80e866612a71cef61b124c

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:ffec944d864f564dc7fabb52fb9a5fdfd6885fcbf3bc2121a784c84458aba97d
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:402863b1fbb1c29e786cecd686b5ae1ff96dd134b6506c525585bd7f43836aa5
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
