
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:c7dcf60ff70eebd040bf91fcb8ab64b5592a9c0aaa37b08e87a5187404401ed2
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:4cf5537f5e76fa14c9232444ce2f4a3aeb8b4f7457d32c445e3237263f10b2a2
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:247c59afc51508c85cb97bc553e2e7a2260b0ae98c5ad90c57ef4f1510d1d626

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:4cf5537f5e76fa14c9232444ce2f4a3aeb8b4f7457d32c445e3237263f10b2a2
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:c7dcf60ff70eebd040bf91fcb8ab64b5592a9c0aaa37b08e87a5187404401ed2
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
