
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:044d2ba4c2e88b3250b61c9d8e007f7e25f13a70392bf1e87bfa8b1771325b9c
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:49fe440fc90876f576831cfe4969a2c8644ae0668fc8b53238cce04cf264d012
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:469fde658cbc0a9c50091ba7e2e6fa38a1d5a4e23edfe8656c10939f6ae03a6e

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:49fe440fc90876f576831cfe4969a2c8644ae0668fc8b53238cce04cf264d012
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:044d2ba4c2e88b3250b61c9d8e007f7e25f13a70392bf1e87bfa8b1771325b9c
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
