
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:159c7a983b62d96726866439fbc0239a41151c8be4947664754c4f59087e5d55
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:75fb82103a02a544bd7af277a468001eb0c8c65683d80aa7e61980ffb43b422f
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:b15cbbc9b2a2cb387286b0022d6487c505c2f72dfb6cf85ce46d00f590c0a147

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:75fb82103a02a544bd7af277a468001eb0c8c65683d80aa7e61980ffb43b422f
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:159c7a983b62d96726866439fbc0239a41151c8be4947664754c4f59087e5d55
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
