
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:c3e125c23e0582a2ed8d4752c1ae9cba93ae9964bfa6c93ae1f074628249a405
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:fcfaa39748d4051664cbafc98d0b1260e4ce7e493f6558b59cca05bb2cdd8c02
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:e23547bdd86a1dff7b18777373ed30f9912809bb1405ae1efda402f24cf58d34

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:fcfaa39748d4051664cbafc98d0b1260e4ce7e493f6558b59cca05bb2cdd8c02
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:c3e125c23e0582a2ed8d4752c1ae9cba93ae9964bfa6c93ae1f074628249a405
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
