
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:84e49c0271e6e130b6148404164274d53b1f831f084671ce4de2ae3b8b1eadfe
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:95e3bd177b8d54d410fbe77b2f59c7783e4e0bb37193c53dcea4b65f7929fcd1
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:ad16a81b221a12ee43c7ac57a1654539974cf47bbe456d8135805c79c464fc1c

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:95e3bd177b8d54d410fbe77b2f59c7783e4e0bb37193c53dcea4b65f7929fcd1
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:84e49c0271e6e130b6148404164274d53b1f831f084671ce4de2ae3b8b1eadfe
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
