
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:f0863dc0936b800dc7018895bd0ea53047e599d3432203a215e762e79cd81310
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:3358d9e769c95e6580f2465f6e6750b2f8467cbbe491c1094bef7cf058ab33ac
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:7e153da7d6d37e72b367d5549ab84a864f45e4ffca20be15c530bfd377af7b1e

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:3358d9e769c95e6580f2465f6e6750b2f8467cbbe491c1094bef7cf058ab33ac
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:f0863dc0936b800dc7018895bd0ea53047e599d3432203a215e762e79cd81310
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
