
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:2bb1764029e5f66888a909addbde4a13b061904ae7c1bad2419ad220cf17af01
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:9b7b27b2cc00bd5b35769f2caa7a6850c52c93fe8dea658de72d242c3ab66290
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:4530099b076f31d237e601855bcc732f8684e4c4adc80caec5da6348c3455df0

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:9b7b27b2cc00bd5b35769f2caa7a6850c52c93fe8dea658de72d242c3ab66290
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:2bb1764029e5f66888a909addbde4a13b061904ae7c1bad2419ad220cf17af01
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
