
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:b10b5d58cab5b75bac89daa3ed3f832e5035138378151833633457352784f14f
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:270fa026c1140979004a9b2e34526fb71d1204e155615eb5a048284c88ef2104
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:df2c8aafe9b893589a5a1445a106075837aaee06080bc0f31df6e85f4919242f

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:270fa026c1140979004a9b2e34526fb71d1204e155615eb5a048284c88ef2104
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:b10b5d58cab5b75bac89daa3ed3f832e5035138378151833633457352784f14f
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
