
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:516752a6583a10d74bf84255789d5eba5181a33c6f92c522f3f35a25c45f3136
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:fb9a58d388615dabfa886224efd8e35fc8e6bee723bed79c6d07a3b7510b5ea0
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:3c97565c9e036a6d556cb3a20ad9fbed118d14520e7f01cccc97b8da54286cd8

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:fb9a58d388615dabfa886224efd8e35fc8e6bee723bed79c6d07a3b7510b5ea0
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:516752a6583a10d74bf84255789d5eba5181a33c6f92c522f3f35a25c45f3136
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
