
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:b44667f530e4ce36722fd995c4af698087b5073e71e1c274d4efd7c91c28f7a1
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:c34feb591161cc33ea395b393d083dbcb1c8887cbd3e95c2201cea264e9e98db
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:f09e3d5951809e125500aa3a3cb607e6ae358ecf6c5707d3f18f7df740040d47

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:c34feb591161cc33ea395b393d083dbcb1c8887cbd3e95c2201cea264e9e98db
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:b44667f530e4ce36722fd995c4af698087b5073e71e1c274d4efd7c91c28f7a1
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
