
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:ea70a80449517a6542a91f3cd62286a9d43f51d1c95ea1519def0e18d11e91de
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:31ffd9035f95491a78bb6c7bfd7ccb5e31d20435a271f65e9beba58752abdf3f
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:e2c908e9da2df7a9dd83e23ed6bafcddbbadcb75bca214ecc1866b99ff56b90b

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:31ffd9035f95491a78bb6c7bfd7ccb5e31d20435a271f65e9beba58752abdf3f
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:ea70a80449517a6542a91f3cd62286a9d43f51d1c95ea1519def0e18d11e91de
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
