
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:f50ed1d01f799f00ce20f210b95774f2dffe7137757ecf86544c71a9f621f402
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:85c84e6100ea0c4d783b44a085cdda8be9b580b073ab7b191a70ad3c14641f9c
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:a5c047afb2066ca8740286ad2af8e1271ef78c2e5df73ed2365f586d6a101b33

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:85c84e6100ea0c4d783b44a085cdda8be9b580b073ab7b191a70ad3c14641f9c
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:f50ed1d01f799f00ce20f210b95774f2dffe7137757ecf86544c71a9f621f402
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
