
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:a4c20a43061246a7da76efc8b09a8de980ad222d22f3bd29c1c16bddd0be91c4
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:256ecec7fd1454eddc5c9caa43efeaa44390366aa8656f59b44f5419bfdee09b
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:53bff24cb7fb75ea076c5ec557edcb8f42d9efd3bf5aec506a2d819955f75324

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:256ecec7fd1454eddc5c9caa43efeaa44390366aa8656f59b44f5419bfdee09b
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:a4c20a43061246a7da76efc8b09a8de980ad222d22f3bd29c1c16bddd0be91c4
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
