
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:6156556aec46b07552c6b57c6087ea3f0937f1d37da7b39aad58a3a0f9bd0bd9
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:e789f2ebe4d5b8f4e5b758cdd9094767df56be35ddbd67cb55a259e2afd0bea3
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:b069959da7414566a1f8b90b284aeda758ce7fbd1b35bbf04e6f5d9f3aa9d7f1

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:e789f2ebe4d5b8f4e5b758cdd9094767df56be35ddbd67cb55a259e2afd0bea3
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:6156556aec46b07552c6b57c6087ea3f0937f1d37da7b39aad58a3a0f9bd0bd9
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
