
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:36f767306fa0ff41fc87365b94f4c9a5db104d64a58e005d785c2c6818b95093
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:9f44a4fd3dbabb661a6ff2ef84982c6458167590f7600127a12799762d8cf921
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:68fa6a82718cc4106c7c664700f8134cba0f3408bdfac38582f73196e9e92c5c

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:9f44a4fd3dbabb661a6ff2ef84982c6458167590f7600127a12799762d8cf921
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:36f767306fa0ff41fc87365b94f4c9a5db104d64a58e005d785c2c6818b95093
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
