
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:41ea19d674fc1df27f67d3554d554ff6a8783ef49bb6b13fc5463c2eb0eddc20
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:74149f122e97428deb34aebda5dad3f8ba9c231c76d69d06537ea1c8b3906fe2
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:a506be41c50de912e857e8e01c03e46113ed73c27d9fe47d9717b20cc3c8a806

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:74149f122e97428deb34aebda5dad3f8ba9c231c76d69d06537ea1c8b3906fe2
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:41ea19d674fc1df27f67d3554d554ff6a8783ef49bb6b13fc5463c2eb0eddc20
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
