
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:56515c1222ee93e3dcee6d5097b692e300e5ee9de4acb09392b04c07fac31cad
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:900467d4a2eab1626e8218df51490b05df6dfaed403b7e16e68d65f47f46dc30
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:7011e5d909f69bd42afc7565b2bab27dca0301ed555334c65174f62a069331a2

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:900467d4a2eab1626e8218df51490b05df6dfaed403b7e16e68d65f47f46dc30
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:56515c1222ee93e3dcee6d5097b692e300e5ee9de4acb09392b04c07fac31cad
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
