
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:3acbfb9709b51a708893a5b08b5dd64464d6c9c1f7950e30caadc6301c71f1dc
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:b6d4ae16e1d20978d2adbdbdf4faa9baa59eecf337a3e65186a55593ddd17456
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:41640b950f7b4576d1af406eddaa83ecc8968284b59041b065ab57aa82ebca46

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:b6d4ae16e1d20978d2adbdbdf4faa9baa59eecf337a3e65186a55593ddd17456
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:3acbfb9709b51a708893a5b08b5dd64464d6c9c1f7950e30caadc6301c71f1dc
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
