
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:6e0bacdaf5e5909613d2b89560a969ebd299ca014e1c4e4c174bd78ba938da16
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:1a29101b7e2c65af46027cb2acbce3b032a7d998d4dda1006fed0fa137a48ed8
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:e23547bdd86a1dff7b18777373ed30f9912809bb1405ae1efda402f24cf58d34

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:1a29101b7e2c65af46027cb2acbce3b032a7d998d4dda1006fed0fa137a48ed8
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:6e0bacdaf5e5909613d2b89560a969ebd299ca014e1c4e4c174bd78ba938da16
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
