
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:5905d362da4d0aaff346d54e06ae4c4555ff00b97bc2a754e15267307d1adfd9
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:4317b54b6587f0890f92a1e5f77e6dea84df4715287024e26a0499c6ed6b24cf
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:a93a2fec2e78b0f7a1482295d6b6853997b5649594650d7cfb83a82a2e041187

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:4317b54b6587f0890f92a1e5f77e6dea84df4715287024e26a0499c6ed6b24cf
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:5905d362da4d0aaff346d54e06ae4c4555ff00b97bc2a754e15267307d1adfd9
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
