
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:d8a3ad75baf3355b0ed335f7b3f12932e22e9a7af296788b659960244273e087
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:d88941e0340cf44091e93fcb76766599f9fc8c1866f790319aa1022f98e1b6fb
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:906f5b403c6dee8b59f733b9ba817aa73fdc67de525a2db61589e5a31e9e669d

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:d88941e0340cf44091e93fcb76766599f9fc8c1866f790319aa1022f98e1b6fb
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:d8a3ad75baf3355b0ed335f7b3f12932e22e9a7af296788b659960244273e087
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
