
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:ecb37d00e57ec33c96d194b21152d22f4648eafe294f880260a2182b4c93bfa9
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:fca4c4d0d9be24284c2a18ee2d154016be0336f3c9c9910fa23b9d022d399183
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:67de8ad7e20acef499a9e96acabdc20bacdf801114a076ab95134399fa8a256d

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:fca4c4d0d9be24284c2a18ee2d154016be0336f3c9c9910fa23b9d022d399183
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:ecb37d00e57ec33c96d194b21152d22f4648eafe294f880260a2182b4c93bfa9
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
