
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:a1d4cf42bceb3e6a4815dc7f665a3a577d6fe06db8f9eaec973da25a81f20344
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:c0876b2485bba3c6b51a0084237a10b17cbc660663eafef423c56419f19a169d
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:1f0cce74be4ddeaec91630fe523ffc18556a01ae2ac9e22dadd8e24277bda65a

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:c0876b2485bba3c6b51a0084237a10b17cbc660663eafef423c56419f19a169d
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:a1d4cf42bceb3e6a4815dc7f665a3a577d6fe06db8f9eaec973da25a81f20344
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
