
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:667119bbe48a981b4e9e2faeca94eaf1e807db0817975d196e0d5da0c8353c3f
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:5823934e793dfc4159571b75c1a2c069ece6627482e9a0e7cedc57321957a3f2
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:3867e6d1f5d232616da9f608089593fe85cd0cc739ad07d6be7225cd3ef273dc

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:5823934e793dfc4159571b75c1a2c069ece6627482e9a0e7cedc57321957a3f2
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:667119bbe48a981b4e9e2faeca94eaf1e807db0817975d196e0d5da0c8353c3f
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
