
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:2f29c6007abb7084880e408947a9c8ed602603bf0e766e076adf700979cd40d3
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:31e1e6592359d6a681a2575484ae93896983eb644a94e27d2eebeb579880c7f6
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:18c91cdfc48249ddc50b8a85ab3f9dccee6b16218726147ee848f48bd2996c17

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:31e1e6592359d6a681a2575484ae93896983eb644a94e27d2eebeb579880c7f6
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:2f29c6007abb7084880e408947a9c8ed602603bf0e766e076adf700979cd40d3
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
