
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:e25815c5e20132d61977b10cf5ceae6e787f7a1d0010dbf8bdaad5d155eee5b9
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:f6b0c793f7048f3273b8384450460148d8fd2e6a9ef76260d00c12b61fe84b34
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:398b251e7962f0e714530ec40a56fba335ebe37c4963ea5600e0271c192fe95b

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:f6b0c793f7048f3273b8384450460148d8fd2e6a9ef76260d00c12b61fe84b34
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:e25815c5e20132d61977b10cf5ceae6e787f7a1d0010dbf8bdaad5d155eee5b9
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
