
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:ad769c18e8d12f127b07c73a80594c867b658d99bda6d18ae2ac9cc6a6d0dc65
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:19e75b553fa5d727243db7687c3c679ea164d0e2cbb2e0133c481737a0f5fb6c
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:614d3d23245c08f6a640f52de87edd8610ac9d0a3a96f15e38e88ae3109337bb

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:19e75b553fa5d727243db7687c3c679ea164d0e2cbb2e0133c481737a0f5fb6c
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:ad769c18e8d12f127b07c73a80594c867b658d99bda6d18ae2ac9cc6a6d0dc65
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
