
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:e090dd74c5a1e433570aef178475ec8e480f37462df33e4799145ef2830a9b3a
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:079b0a66b1f16aa303fe9ae4e1689c6493c3a21c10bc9257464dfad0d03b87bd
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:586abb9990f5ea9faa7ee48f0db75f42fe4365fe80d5bf139a123020a81b8389

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:079b0a66b1f16aa303fe9ae4e1689c6493c3a21c10bc9257464dfad0d03b87bd
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:e090dd74c5a1e433570aef178475ec8e480f37462df33e4799145ef2830a9b3a
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
