
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:9cae71a754b76203d01e23ec9c6730c1ce9be6c37a7451243d27bf419ceaddd8
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:10632a362e40bcfb78e901778b63d17f1360a2564833ea3de832a14a8b8b82f5
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:6a446c1612ba15b607869bc616cb6c1b5ed7966141f3a344d10968806e430c8b

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:10632a362e40bcfb78e901778b63d17f1360a2564833ea3de832a14a8b8b82f5
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:9cae71a754b76203d01e23ec9c6730c1ce9be6c37a7451243d27bf419ceaddd8
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
