
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:b7e85c9b7a42de80b08bffacbb7fe72aba595ab89cf8eb719e175f5f55cf576d
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:0709084d7eced931366f9209ddf6dc465abeadb4fc06b12eab2df125fde5e4f0
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:742f21117ba5bc128211bcbca719c1e41feeba00805ea06065fba0dfe481a72d

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:0709084d7eced931366f9209ddf6dc465abeadb4fc06b12eab2df125fde5e4f0
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:b7e85c9b7a42de80b08bffacbb7fe72aba595ab89cf8eb719e175f5f55cf576d
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
