
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:de48714ce42f9ae84e9b3b24b28f71c6de70ce2ea172676fb8406ccc208c740a
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:7dd6bced3c9d92351f5ec7953333d1a025d967ee10a98b2a5292c65d64ba1589
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:5c5e053c82f227bdcdaf31b5f39add206a8132cf2144d9e5f8d5a8e8c840c1ca

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:7dd6bced3c9d92351f5ec7953333d1a025d967ee10a98b2a5292c65d64ba1589
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:de48714ce42f9ae84e9b3b24b28f71c6de70ce2ea172676fb8406ccc208c740a
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
