
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:1aac00df794865ef4b29487ff0fffecba6fcc77781574c3baa1063ab3c9d1ac3
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:ac6f32a99a4603ced80f3de875426f11f65e6ef9092c70eae34c55e8e2441894
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:3339637f6a84e79268410dab42fbed6e480441bbcd056fba67f076d0799f6e67

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:ac6f32a99a4603ced80f3de875426f11f65e6ef9092c70eae34c55e8e2441894
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:1aac00df794865ef4b29487ff0fffecba6fcc77781574c3baa1063ab3c9d1ac3
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
