
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:89d99bbbd05ee26d798babb0cf0ab7f6b19a75e4ad15c9789604a459f7c54f38
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:20795e1af5d056c0925618829c8663404ce84691b5a2f74c25fa84e4e0415416
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:50bd0534299e20862a56412d2f3e27237c8c2a0971a5b74789355e920f1cf77a

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:20795e1af5d056c0925618829c8663404ce84691b5a2f74c25fa84e4e0415416
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:89d99bbbd05ee26d798babb0cf0ab7f6b19a75e4ad15c9789604a459f7c54f38
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
