
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:f4c05c02dc6c16e67cf612751d2681251a8f6fb720badb19779b646cd95d9b20
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:a82ffbffa3b95a96d5310dcdecbafb76307ef47be4301473e71b32986e8c5ff1
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:e23547bdd86a1dff7b18777373ed30f9912809bb1405ae1efda402f24cf58d34

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:a82ffbffa3b95a96d5310dcdecbafb76307ef47be4301473e71b32986e8c5ff1
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:f4c05c02dc6c16e67cf612751d2681251a8f6fb720badb19779b646cd95d9b20
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
