
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:4f385d5812dbed77aa566c0f85e438bf34b2a4585aab6058ec58cef0553f2553
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:eeb5a0b531439d9d224139f6780dd2378206346c118ac5864a72c7f78262205c
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:c6641c18e5434420ff4a742d2e4e9717f34969d3158826d9d7cc9279acba538f

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:eeb5a0b531439d9d224139f6780dd2378206346c118ac5864a72c7f78262205c
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE 
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:4f385d5812dbed77aa566c0f85e438bf34b2a4585aab6058ec58cef0553f2553
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
