
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:2a58ef610b826aa733e8b684cdbb79f9bfe5a7963a4f4b8fdd1b99c2bf3e6b7e
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:3a8939bb9ea3ec0704e0fd1669e379effe5255aea29fa1afa4468d9717cd4e50
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:259964b66399bb8639633b6015a56f69535ce6569b99e3a913296566e4ee860d

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:3a8939bb9ea3ec0704e0fd1669e379effe5255aea29fa1afa4468d9717cd4e50
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:2a58ef610b826aa733e8b684cdbb79f9bfe5a7963a4f4b8fdd1b99c2bf3e6b7e
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
