
images:
  - name: quay.io/operator-framework/olm
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:f7ea28aea45a802f49241d32ba11ab42897927a24189e89a71fe2fb1e0ee353a
  - name: quay.io/operator-framework/configmap-operator-registry
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:4ddae73cc6fe0de43c96c2beee8bccfddd65a6c033f1052d9633c4ab84d69690
  - name: quay.io/openshift/origin-kube-rbac-proxy
    newName: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    digest: sha256:7852c13ea03341d10d86917152543a908827ce889b57ac6344e05d9ec12ddf33

patches:
  - patch: |-
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OPERATOR_REGISTRY_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:4ddae73cc6fe0de43c96c2beee8bccfddd65a6c033f1052d9633c4ab84d69690
     - op: add
       path: /spec/template/spec/containers/0/env/-
       value:
         name: OLM_IMAGE
         value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:f7ea28aea45a802f49241d32ba11ab42897927a24189e89a71fe2fb1e0ee353a
    target:
      kind: Deployment
      labelSelector: app=catalog-operator
