#!/bin/bash
set -euo pipefail

if [ $# -ne 2 ] ; then
    echo "Usage: $(basename "$0") </default/image/store/path> </new/image/store/path>"
    exit 1
fi

if [ "$(id -u)" != 0 ] ; then
    echo "This script should be executed with root permissions"
    exit 1
fi

DEF_IMGPATH="$1"
NEW_IMGPATH="$2"

semanage fcontext -a -e "${DEF_IMGPATH}" "${NEW_IMGPATH}"
restorecon -R "${NEW_IMGPATH}"

find "${NEW_IMGPATH}" -type f -path "*/usr/sbin/haproxy" -exec setcap "cap_net_bind_service=+ep" {} \;
