auth_enabled: false

server:
  http_listen_port: 3100

common:
  path_prefix: /loki
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

limits_config:
  # Whether or not old samples will be rejected.
  reject_old_samples: false

querier:
  # Maximum lookback beyond which queries are not sent to ingester. 0 means all
  # queries are sent to ingester.
  query_ingesters_within: 0

ingester:
  # The maximum duration of a timeseries chunk in memory. If a timeseries runs for
  # longer than this, the current chunk will be flushed to the store and a new
  # chunk created.
  max_chunk_age: 168h

analytics:
 reporting_enabled: false

