policy_module(microshift, 1.0.0)

type microshift_t;
domain_type(microshift_t);

gen_require(`
	type kubelet_t, var_lib_t, container_var_lib_t;
')

# When microshift creates backup folders in /var/lib/microshift-backups, the correct labels are applied
# Note: filetrans_pattern rules states;
#   Process running as `kubelet_t` that creates a `dir` called `microshift-backups`
#   in a folder labeled `var_lib_t` get's the label `container_var_lib_t`
filetrans_pattern(kubelet_t, var_lib_t, container_var_lib_t, dir, "microshift-backups")
# Also make sure that during restore the temporary directory gets the same labels.
filetrans_pattern(kubelet_t, var_lib_t, container_var_lib_t, dir, "microshift.saved")
