global:
  scrape_interval:     5s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  scrape_timeout:      5s

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'example'

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets: ['localhost:9093']

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:{{ prometheus_port }}']

  - job_name: node
    static_configs:
      - targets:
{% for host in groups['microshift'] %}
        - {{ hostvars[host].private_ip }}:9100
{% endfor %}

  - job_name: process
    static_configs:
      - targets:
{% for host in groups['microshift'] %}
        - {{ hostvars[host].private_ip }}:9256
{% endfor %}

  - job_name: cadvisor
    static_configs:
      - targets:
{% for host in groups['microshift'] %}
        - {{ hostvars[host].private_ip }}:8082
{% endfor %}

  - job_name: crio
    static_configs:
      - targets:
{% for host in groups['microshift'] %}
        - {{ hostvars[host].private_ip }}:9537
{% endfor %}

