{
  "name": "Prometheus",
  "type": "prometheus",
  "access": "proxy",
  "url": "http://localhost:{{ prometheus_port }}",
  "basicAuth": false,
  "withCredentials": false,
  "isDefault": true,
  "jsonData": {
    "httpMethod": "POST"
  },
  "version": 4,
  "readOnly": false
}
