[Unit]
Description=MicroShift
Wants=network-online.target crio.service openvswitch.service microshift-ovs-init.service
After=network-online.target crio.service openvswitch.service microshift-ovs-init.service

[Service]
WorkingDirectory=/usr/bin/
ExecStart=microshift run
Restart=always
User=root
Type=notify
Delegate=yes
CPUAccounting=yes
BlockIOAccounting=yes
MemoryAccounting=yes
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
