[Unit]
Description=Open vSwitch Forwarding Unit (MicroShift)
After=microshift-ovsdb-server.service network-pre.target systemd-udev-settle.service
Before=network.target network.service
Requires=microshift-ovsdb-server.service
ReloadPropagatedFrom=microshift-ovsdb-server.service
AssertPathIsReadWrite=/var/run/openvswitch/db.sock
PartOf=microshift-openvswitch.service
Conflicts=ovs-vswitchd.service

[Service]
Type=forking
CPUAffinity=0
PIDFile=/var/run/openvswitch/ovs-vswitchd.pid
Restart=on-failure
Environment=XDG_RUNTIME_DIR=/var/run/openvswitch
EnvironmentFile=/etc/openvswitch/default.conf
EnvironmentFile=-/etc/sysconfig/openvswitch
EnvironmentFile=-/run/openvswitch.useropts
LimitSTACK=2M
ExecStartPre=-/bin/sh -c '/usr/bin/chown :$${OVS_USER_ID##*:} /dev/hugepages'
ExecStartPre=-/usr/bin/chmod 0775 /dev/hugepages
ExecStart=/usr/share/openvswitch/scripts/ovs-ctl \
          --no-ovsdb-server --no-monitor --system-id=random \
          ${OVS_USER_OPT} \
          start $OPTIONS
ExecStop=/usr/share/openvswitch/scripts/ovs-ctl --no-ovsdb-server stop
ExecReload=/usr/share/openvswitch/scripts/ovs-ctl --no-ovsdb-server \
          --no-monitor --system-id=random \
          ${OVS_USER_OPT} \
          restart $OPTIONS
TimeoutSec=300