[Unit]
Description=MicroShift
Wants=network-online.target crio.service openvswitch-micro.service
After=network-online.target crio.service openvswitch-micro.service

[Service]
WorkingDirectory=/usr/bin/
ExecStart=microshift run
Restart=always
User=root

[Install]
WantedBy=multi-user.target
