[Unit]
Description=Open vSwitch (MicroShift)
Before=network.target network.service
After=network-pre.target ovsdb-server-micro.service ovs-vswitchd-micro.service
PartOf=network.target
Requires=ovsdb-server-micro.service
Requires=ovs-vswitchd-micro.service

[Service]
Type=oneshot
ExecStart=/bin/true
ExecReload=/usr/share/openvswitch/scripts/ovs-systemd-reload
ExecStop=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target