[Unit]
Description=MicroShift
Wants=network-online.target crio.service
After=network-online.target crio.service

# Control shutdown order by declaring this service to start Before the kubepods.slice
# transient systemd unit; this makes system shutdown delay MicroShift shutdown until
# all the pod containers are down. This is important because some services need to talk
# to the MicroShift API during shutdown (i.e. releasing leader election locks or cleaning
# up other resources) MicroShift restart or manual stop will not stop the kubepods.
Before=kubepods.slice

[Service]
WorkingDirectory=/usr/bin/
ExecStart=microshift run
Restart=always
RestartSec=10s
User=root
Type=notify
Delegate=yes
CPUAccounting=yes
BlockIOAccounting=yes
MemoryAccounting=yes
LimitNOFILE=1048576
TimeoutStartSec=4m

[Install]
WantedBy=multi-user.target
Also=microshift-cleanup-kubelet.service
