[Unit]
Description=MicroShift Observability
After=microshift.service
Requires=microshift.service
ConditionPathExists=/var/lib/microshift/resources/observability-client/kubeconfig

[Service]
Environment=KUBECONFIG=/var/lib/microshift/resources/observability-client/kubeconfig
Environment=K8S_NODE_NAME="%l"
ExecStartPre=/usr/bin/mkdir -p /var/lib/microshift-observability
ExecStart=/bin/bash -c 'ARGS="--config=file:/etc/microshift/observability/opentelemetry-collector.yaml"; for f in /etc/microshift/observability/otelcol.d/*.yaml; do [ -f "$$f" ] && ARGS="$$ARGS --config=file:$$f"; done; exec /usr/bin/opentelemetry-collector $$ARGS'
Restart=always
User=root

[Install]
WantedBy=microshift.service
