---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: ${ROUTE_NAME}
  namespace: ${NAMESPACE}
spec:
  port:
    targetPort: 8080
  tls:
    externalCertificate:
      name: ${SECRET_NAME}
    termination: edge
  to:
    kind: Service
    name: hello-microshift
