---
apiVersion: trust.cert-manager.io/v1alpha1
kind: Bundle
metadata:
  name: ${TRUST_MANAGER_BUNDLE_NAME}
spec:
  sources:
    - secret:
        name: ca-source-secret
        key: tls.crt
  target:
    configMap:
      key: ca-bundle.crt
    namespaceSelector:
      matchLabels:
        kubernetes.io/metadata.name: ${NAMESPACE}
