%include /main-prologue.cfg
%include /main-network.cfg
%include /main-cdrom.cfg

%post --log=/dev/console --erroronfail

%include /post-microshift.cfg
%include /post-containers.cfg
%include /post-system.cfg
%include /post-network.cfg

%include /post-cos9rpm.cfg

%end
