%include /main-prologue.cfg
%include /main-network.cfg
%include /main-ostree.cfg

%post --log=/dev/console --erroronfail

%include /post-microshift.cfg

%include /post-containers.cfg
if REPLACE_IMAGE_SIGSTORE_ENABLED ; then
%include /post-containers-sigstore.cfg
fi

%include /post-system.cfg
%include /post-network.cfg
%include /post-fips.cfg

%end

%include /onerror-logs.cfg
