%include /main-prologue.cfg
%include /main-liveimg.cfg

# Do not enable a network device
network --no-activate --nodefroute --hostname=REPLACE_HOST_NAME

%post --log=/var/log/anaconda/post-install.log --erroronfail

%include /post-system.cfg

# Disable SELinux enforcement for the qemu-guest-agent
sudo semanage permissive -a virt_qemu_ga_t

%end
