%include /main-prologue.cfg
%include /main-network.cfg
%include /main-ostree.cfg

%post --log=/var/log/anaconda/post-install.log --erroronfail

%include /post-microshift.cfg
%include /post-containers.cfg
%include /post-system.cfg
%include /post-network.cfg

%end
