%include /main-prologue.cfg
%include /main-network.cfg
%include /main-liveimg.cfg

%post --log=/var/log/anaconda/post-install.log --erroronfail

%include /post-microshift.cfg
%include /post-containers.cfg
%include /post-system.cfg
%include /post-network.cfg

# Configure FIPS
REPLACE_FIPS_COMMAND

%end
