#!/bin/bash
set -euo pipefail
set -x

function get_kernel_ver() {
    KERNEL_VER="$(rpm -q --qf "%{VERSION}-%{RELEASE}\n" kernel | sort | tail -1)"
    KERNEL_VER_ARCH="${KERNEL_VER}.$(uname -m)"

    export KERNEL_VER
    export KERNEL_VER_ARCH
}

# Set the current kernel version and architecture variables.
get_kernel_ver

# Attempt to install the kernel-devel package for the current kernel version,
# falling back to the kernel-devel-matched package.
# Note: The OS release version is pinned to make sure that the potentially upgraded
# kernel package belongs to the current OS release.
source /etc/os-release
if ! dnf install -y --releasever="${VERSION_ID}" "kernel-devel-${KERNEL_VER}" ; then
    dnf install -y --releasever="${VERSION_ID}" kernel-devel-matched
    get_kernel_ver
fi

# Install the necessary dependencies and clean up.
dnf install -y git make python3-pyserial
dnf clean all

# Clone the serialsim repository and build the serialsim module.
git clone https://github.com/pmtk/serialsim.git /tmp/serialsim
cd /tmp/serialsim
make KERNEL="${KERNEL_VER_ARCH}" all install
rm -rf /tmp/serialsim
