#!/bin/bash
set -euo pipefail
set -x

function get_kernel_ver() {
    KERNEL_VER="$(rpm -q --qf "%{VERSION}-%{RELEASE}\n" kernel | sort | tail -1)"
    KERNEL_VER_ARCH="${KERNEL_VER}.$(uname -m)"

    export KERNEL_VER
    export KERNEL_VER_ARCH
}

# Set the current kernel version and architecture variables.
get_kernel_ver

source /etc/os-release
if [[ "${ID}" == "rhel" ]] ; then
    # On RHEL, always install the kernel-devel package for the current kernel version.
    dnf install -y "kernel-devel-${KERNEL_VER}"
else
    # On CentOS, attempt to install the kernel-devel package for the current kernel
    # version, falling back to kernel-devel-matched if the former is not available.
    dnf install -y "kernel-devel-${KERNEL_VER}" || dnf install -y kernel-devel-matched
fi

# Reset the current kernel version and architecture variables.
get_kernel_ver

# Install the necessary dependencies and clean up.
dnf install -y git make python3-pyserial
dnf clean all

# Clone the serialsim repository and build the serialsim module.
git clone https://github.com/microshift-io/serialsim.git /tmp/serialsim

cd /tmp/serialsim
make KERNEL="${KERNEL_VER_ARCH}" all install
rm -rf /tmp/serialsim
