[{{ ocp_repo_name }}]
name=MicroShift {{ ocp_version }}  RPMs for RHEL {{ ansible_distribution_major_version }}
baseurl=https://mirror.openshift.com/pub/openshift-v4/$basearch/microshift/ocp/{{ microshift_version }}/el9/os/
enabled=1
gpgcheck=0
skip_if_unavailable=0
